<!DOCTYPE html>
<html>
    @RenderSection("head", required: true)
<body>
    <header>
        @RenderSection("header", required: true)
    </header>

    <main>
        @RenderSection("main", required: true)
    </main>

    <footer>
        @RenderSection("footer", required: true)
    </footer>
</body>
</html>
